#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
  bottom: 0px;
}

#content h1 {
text-align: center;
            position: relative;
            
            color: grey; 
            font-family: Arial, sans-serif; /* Arial font */
             font-size: 70px; /* Adjust font size as needed */ f
}

#searchbar {
     width:47%;
    height:7%;
    color: #FFFFFF;
    position: absolute;
    left:26.5%;
   bottom: 0px;
}

.form__input {
text-align: center;
    border-radius: 18px;
    outline:none;
    border-radius: 18px;
    background:transparent;
    border: 2px solid white;
    color: grey;
    width:100%;
    height:50px;
  bottom: 0px;
  top: 128px;
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form_input:hover{
  cursor:cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
    body, html {
        height: 100%;
        margin: 0;
        padding: 0; /* Add this line to remove any padding */
        overflow: hidden;
      background-color: black;
    }
    #container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
